html{
    scroll-behavior: smooth;
}

/* START NAVBAR  */
.headers{
    background-color: hsla(0, 0%, 2%, 0.342)!important;
    backdrop-filter: blur(15px) contrast(105%);
}

.navmenus{
    position: relative;
}

.navmenus::before{
    content: '';
    width: 100%;
    height: 2px;
    background-color: blue;

    position: absolute;
    bottom: 0;
    left: 0;

    transform: scale(0);
    transition: all 0.3s;
}

.navmenus:hover.navmenus::before{
    transform: scale(1);
}

@media (max-width: 990px) {
    .navmenus::before{
       display: none;
    }
}

.searchinputs{
    width: 200px;
    border: none;
    color: #fff;
    border-bottom: 1px groove #fff;
    transition: all 0.5s;
    transform: scale(0);
    transform-origin: right bottom;
}

.searchinputs.searchinputactives{
    /* display: inline-block; */
    transform: scale(1);
}

@media (width: 1024px) {
    .searchinputs{
        width: 90px;
    }
}

.searchinputs:focus{
    outline: 0;
    box-shadow: none;
}
/* END NAVBAR  */

/* START BANNER */
.bannersections{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../assets/resources/a9feda124595a30b4baabed9437de23c);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
}

.margintops{
    margin-top: 200px !important;
}
/* END BANNER */

/* START DESTINATION SECTION  */
.destilis{
    cursor: pointer;
    position: relative;
}

.destilis.active.destilis::after{
    background-color: #000;
}

.destilis::after{
    content: '';
    width: 100%;
    height: 3px;
    background-color: rgba(0,0,0,0.1);

    position: absolute;
    bottom: -10px;
    left: 0;
}
/* END DESTINATION SECTION  */

/* START BLOG SECTION  */
.kilibgs{
    height: 400px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../assets/resources/769476eca369b0a8fa4a33de98bfad78);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.thingbgs{
    height: 190px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../assets/resources/16e85f0e6a27749f76169d9b6ad50ea6);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;

    margin-bottom: 20px;
}

.femalebgs{
    height: 190px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../assets/resources/2ad4b19211a15e1fb18a232b776ae54b);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;

    transition: all 0.5s;
}

.kilibgs:hover,.thingbgs:hover,.femalebgs:hover{
    transform: scale(1.01);
    box-shadow: 1px 10px 10px rgba(0,0,0,0.5);
}

/* END BLOG SECTION  */

/* START CUSTOMER SECTION  */
.progress-container{
    position: relative;
}

.fa-quote{
    position: absolute;
    top: -40px;
    left: -45px;
}

.progress-bar{
    width: 100%;
    height: 4px;
    background-color: blue;

    animation-name: myani;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transform-origin: left;

    margin-bottom: 10px;
}

@keyframes myani {
    from{
        transform: scaleX(0);
    }
}

.customer-imgs{
    width: 100px;
    border-radius: 50%;
}
/* END CUSTOMER SECTION  */

.scrolls{
    bottom: 50px;
    right: 15px;
}